body {
    margin: 0px;
}
.cabecera{  
display: inline-block;
position: absolute;
z-index: 1;  
    
}
#board {
    
    width: 100%px;
    height: 600px;
    position: relative;
}
#suelo {
    width: 100%;
    height: 42px;
    position: absolute;
    
    bottom: 0;
    left: 0;
    /*background: url(suelo.png) repeat-x 0px 0px;*/
    
}

#suelo img{
    position: absolute;
    width: 100%;
    height: 42px;  
    animation: sueloMove 5s linear infinite;
}

@keyframes sueloMove {
    0% {
      right: 0%;
    }
  
    100%{
      right: 100%;
    }
  }

#player{
    
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 22px;
    left: 100px;
 
}

#player img{
    
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    
}

#background{
    position: absolute;
    width: 100%;
    height: 100%;
}
#background img{
    position: absolute;
    width: 100%;
    height: 100%;
    animation: backgroundMove 5s linear infinite;
}

.playerJump {
    animation: playerJump 1s linear;
}

@keyframes playerJump {
    0%{
        bottom: 10px;
    }
    45%, 55%{
        bottom: 110px;
    }
}

.item {
    padding: 0.5rem;
}

@keyframes backgroundMove {
  0% {
    right: 0%;
  }

  100%{
    right: 100%;
  }
}

#fuego{
    position: absolute;
    z-index: 3;
    width: 55px;
    height: 80px;
    bottom: 5px;
    right: 0;
    animation: fuegoMovement 2s linear infinite;
}

#fuego img{
    max-width: 100%;
    max-height: 100%;
    
}



@keyframes fuegoMovement {
    0%{
      right: 0;
    }
    100%{
      right: 100%;
    }
}

.scoreContainer{
    font-size: 50px;
    text-align: center;
}

.button.play {
    border-style: solid;
    border-width: 37px 0 37px 60px;
}

.button {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 74px;
    border-color: transparent transparent transparent #202020;
    transition: 1000ms all ease;
    cursor: pointer;
    border-style: double;
    border-width: 0px 0 0px 60px;
    position: absolute;
    z-index: 1;
}

.button:hover{
    border-color: transparent transparent transparent #404040;
}

.menu{
  display: flex;  
  justify-content: center;
}

